.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header{
  width: 100%;
  height: 15vh;
  padding: 1%;
  border-bottom: .5px solid black;
}

aside{
  background: lightgray;
  border-right: .5px solid black;
  width: 33%;
  height: 85vh;
}

li{
  list-style: none;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  overflow: hidden;
  max-height: 3vh;
}

li:hover{
  background: rgba(0,0,0,.25);
}

.main-container{
  display: flex;
  flex-direction: inline;
  flex-wrap: nowrap;
}

.email{
  border-bottom: .5px solid black;
}