body{
  padding: 0;
  margin: 0;
  background: gainsboro;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header{
  width: 100%;
  border-bottom: .5px solid black;
  background: black;
  color: white;
}

aside{
  background: lightgray;
  width: 31.25vw;
  height: 85vh;
}

li{
  list-style: none;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  overflow: hidden;
  max-height: 3vh;
}

.main-container{
  display: flex;
  flex-direction: inline;
  flex-wrap: nowrap;
}

.personal-icon{
  width: 2vw;
  height: 2vw;
  /* background-image: url('/icons/female-icon-1.png'); */
  background-repeat: no-repeat;
  background-size: contain;
}

.email{
  border-bottom: .5px solid black;
  padding: .5vh;
  margin: .5vh 0;
}

.task{
  border: 1px solid dimgray;
  border-radius: 10vw;
  padding: 2vw;
}

.hover:hover{
  background: goldenrod;
}